.main_container {
  padding: 0 0 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: baseline;
}

.mainLeaderboard_container,
.mainCategory_container,
.mainObject_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
}

.mainLeaderboard_container,
.mainCategory_container {
  margin-top: 5rem;
}

.mainObject_container {
  align-self: baseline;
  padding: 0 0.7rem;
}

@media only screen and (max-width: 800px) {
  .main_container {
    background-color: lightblue;
  }
}
