.main_container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  align-content: baseline;
  background: linear-gradient(
    180deg,
    #a0bbff 3.23%,
    #ffc7de 41.54%,
    #ffce95 100%,
    #ffd4a0 100%,
    #ffd5a4 100%
  );
}

.mainLeaderboard_container,
.mainCategory_container,
.mainObject_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
}

.mainLeaderboard_container,
.mainCategory_container {
  margin-top: 5rem;
}

.mainObject_container {
  align-self: baseline;
}
