.leaderboard_container {
  background-color: #ffffff;
  width: 18rem;
  min-height: 500px;
  padding: 2.5rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.leaderboard_container h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.leaderboard {
  width: 100%;
  border: none;
}

.leaderboard td,
.leaderboard th {
  border: none;
  padding: 0.5rem 0.3rem;
  word-break: break-all;
}

.leaderboard td:nth-child(1),
.leaderboard th:nth-child(1) {
  min-width: 2.5rem;
  text-align: right;
}

.leaderboard td:nth-child(3),
.leaderboard th:nth-child(3) {
  min-width: 4rem;
}

.table_header {
  background-color: #ffffff;
}

.table_row:nth-child(odd) {
  background-color: #ebebeb;
}

@media only screen and (max-width: 480px) {
  .leaderboard_container {
    background-color: #ffffff;
    width: 100vw;
    min-height: 500px;
    padding: 2.5rem 0;
    border-radius: 0;
    margin-bottom: 0;
  }
}
