.category_container {
  background-color: white;
  width: 22rem;
  min-height: 500px;
  padding: 3rem;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category_container h2 {
  margin-bottom: 1rem;
}

.score {
  font-size: 2rem;
}

.score span {
  color: rgb(81, 51, 255);
}
