/* Containers */
.category_container {
  position: relative;
  background-color: white;
  width: 20rem;
  padding: 2.5rem 0 1.5rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.category_section {
  padding: 0 3rem;
  position: relative;
}

/* Round and score */
.game_status_container {
  text-align: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.score {
  font-size: 1.3rem;
}

.score span {
  color: rgb(81, 51, 255);
}

/* Progress */

.circular_progress_bar_container {
}

.circular_progress_bar {
}

.tries {
  font-size: 1.3rem;
}

.tries > span {
  font-size: 1.5rem;
}

.tries > span span {
  font-size: 2.5rem;
}

.wrong0 > span span {
  color: var(--green);
}

.wrong1 > span span {
  color: var(--orange);
}

.wrong2 > span span,
.wrong3 > span span {
  color: var(--red);
}

/* Popover */

.popover_container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
}

/* Category */
.category_info {
  position: relative;
  background-color: var(--gray-pale);
  padding: 1rem 2rem;
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category_select {
  background-color: white;
  border: 1px solid black;
  border-radius: 100rem;
}

.category_info p {
  margin: 0;
}

.category_display {
  font-size: 1rem;
}

.category_display span {
  display: block;
  color: rgb(81, 51, 255);
  font-size: 2rem;
}

.points_earned {
  font-size: 0.9rem;
  color: var(--gray-mid);
}

/* Game message */

.game_status {
  font-size: 2rem;
}
