.icon_container {
  background-color: var(--gray-light);
  color: black;
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_container i {
  font-size: 1.5rem;
}
