.header_container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  z-index: 1;
}

.header_text {
  margin: 0;
}

.modal {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.modal_header {
  padding: 1.5rem 2rem;
  /*   display: flex;
  justify-content: center;
  align-items: center; */
}

.modal_title {
}

.tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
}

.tab {
}
