.header_container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.header_button,
.header_reg_button {
  margin: 10px;
}

.header_reg_button {
  background-color: #ff8585;
  border: none;
}

.header_text {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.loginModal_container {
  padding: 20px;
}
