.header_container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.header_text {
  margin: 0;
}

.loginModal_container {
  padding: 20px;
}
