:root {
  --yellow-pale: #fffad2;
  --yellow: #ffed43;
  --orange: #ffbd39;
  --red: #ff8585;
  --pink: #fda4ff;
  --blue: #5050ff;
  --blue-dark: #3030d1;
  --green: #35a070;
  --gray-pale: #eee;
  --gray-light: #ddd;
  --gray-mid: #aaa;
  --gray-dark: #333;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

a {
  color: inherit;
}

.form-control {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 100%;
}

@media only screen and (min-width: 480px) and (max-width: 800px) {
  .nav-tabs {
    flex-wrap: wrap;
  }

  .nav-tabs .nav-link {
    font-size: 0.8rem;
  }
}
